<div *ngIf="!modal" class="row">
  <div class="small-12 medium-6 columns">
    <h1>Deity</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="name">Name
      <div class="input-group">
        <input type="text" class="form-control" id="name" oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())" [(ngModel)]="deity.name" name="name" required  #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Required</div>
        </div>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="type">Type
      <select id="type" class="form-control" [(ngModel)]="deity.typeId" name="type" required #type="ngModel">
        <option *ngFor="let type of deityTypes" [value]="type.id">{{type.name}}</option>
      </select>
    </label>
    <p-button icon="pi pi-plus" (onClick)="showDialog=true"></p-button>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="parentName">Parent
      <div class="input-group">
        <input type="text" class="form-control" id="parentName" [(ngModel)]="parent.name" name="parentName" required  #parentName="ngModel">
        <div *ngIf="parentName.invalid && (parentName.dirty || parentName.touched)" class="alert alert-danger">
          <div *ngIf="parentName.errors.required">Required</div>
        </div>
      </div>
    </label>
    <p-button icon="pi pi-arrow-circle-left" (onClick)="selectParent=true"></p-button>
  </div>
</div>
<app-add-name-dialog
  [header]="'New Deity Type'"
  [(visible)]="showDialog"
  [(name)]="deityTypeName"
  (nameChange)="addDeityType()"
  [label]="'Deity Type'"
  [idNameValues]="deityTypes">
</app-add-name-dialog>
<app-select-deity-dlg
  [header]="'Select Parent'"
  [(visible)]="selectParent"
  [(deity)] = "parent"
  [ignoreDeity]="deity"
  (locationChange)="updateParent($event)">
</app-select-deity-dlg>

