<div class="row">
  <div class="small-12 medium-6 columns">
    <h1>Race</h1>
  </div>
</div>

<form #form="ngForm">
  <ngb-tabset type="pill">
    <ngb-tab title="General">
      <ng-template ngbTabContent>
        <app-race-general [(race)]="race" (genderUpdate)="updateGenders($event)"></app-race-general>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle ><div [class.invalid]="isGenderInvalid(genderBase.id)">{{genderBase.name}}</div></ng-template>
      <ng-template ngbTabContent>
        <app-race-gender [(race)]="race" [gender]="genderBase"></app-race-gender>
      </ng-template>
    </ngb-tab>
    <div *ngFor="let gender of race.genders">
      <ngb-tab>
        <ng-template ngbTabTitle ><div [class.invalid]="isGenderInvalid(gender.id)">{{gender.name}}</div></ng-template>
        <ng-template ngbTabContent>
          <app-race-gender [(race)]="race" [gender]="gender"></app-race-gender>
        </ng-template>
      </ngb-tab>
    </div>
  </ngb-tabset>
  <div class="expanded button-group">
    <button class="success btn btn-secondary" type="button"
            [disabled]="isInvalid()"
            (click)="update()">
      {{race.id > 0 ? 'Update' : 'Add'}}
    </button>
    <button class="cancel btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
