<input type="hidden" class="form-control" [(ngModel)]="race.id" name="id" #id="ngModel">
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="name">Name
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="name"
               oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())"
               (input)="updateInvalid('name', name.invalid)"
               [(ngModel)]="race.name"
               (ngModelChange)="raceChange.emit(race)"
               name="name"
               required
               [appUniqueRace]="{race: this.race, fieldName: 'name'}"
               #name="ngModel">
        <div *ngIf="name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors.required">Required</div>
          <div *ngIf="name.errors['uniqueRace']">{{name.errors['uniqueRace'].description}}</div>
        </div>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="genders">Genders
      <div class="input-group">
        <p-multiSelect id="genders"
                       [inputId]="genders"
                       [options]="genders"
                       optionLabel="name"
                       dataKey="id"
                       [showToggleAll]="false"
                       [showHeader]="false"
                       [filter]="false"
                       defaultLabel="Choose Genders"
                       [(ngModel)]="selectedGenders"
                       (ngModelChange)="updateGenders();raceChange.emit(race);updateInvalid('genders', gender.invalid)"
                       name="genders"
                       required
                       #gender="ngModel">
        </p-multiSelect>
        <p-button label="New" (onClick)="showDialog=true"></p-button>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
      <div class="input-group">
        <label class="control-label" for="selectable">Selectable</label>
        <p-checkbox inputId="selectable" binary="true" [(ngModel)]="race.selectable" name="selectable"></p-checkbox>
      </div>
  </div>
</div>
<p-dialog header="New Gender" [(visible)]="showDialog">
  <input id="newGender" type="text" pInputText placeholder="Add Gender" (keyup.enter)="addGender($event)" [appUniqueGender]="{genders: this.genders}" [(ngModel)]="newGender" #genderDlg="ngModel"/>
  <div *ngIf="!!genderDlg.errors && genderDlg.errors['uniqueGender']">{{genderDlg.errors['uniqueGender'].description}}</div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" [disabled]="newGender?.length == 0 || !!newGender.errors" (click)="addGender($event);showDialog=false" label="Add"></button>
    <button type="button" pButton icon="pi pi-close" (click)="showDialog=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>


