<input id="name"
       type="text"
       autofocus
       oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())"
       pInputText
       placeholder="Add {{label}}"
       (keyup.enter)="emitIfValid()"
       [appUniqueName]="{idNameValues: this.idNameValues}"
       [(ngModel)]="name"
       (ngModelChange)="nameChange.emit(name)"
       #nameInput="ngModel"/>
<div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="alert alert-danger">
  <div *ngIf="!!nameInput.errors && nameInput.errors['uniqueName']">{{nameInput.errors['uniqueName'].description}}</div>
</div>
