.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  margin-left: .25rem;
  margin-bottom: 0rem;
  padding-top: .25rem;
  padding-bottom: 0rem;
}

.list-label {
  vertical-align: center;
  min-width: 200px;
}
