<div class="row">
<app-attribute-details [attributeName]="'Complexion'" [attributes]="complexions" (add)="addComplexion($event)" (delete)="deleteComplexions($event)"></app-attribute-details>
<app-attribute-details [attributeName]="'Eye Color'" [attributes]="eyeColors" (add)="addEyeColor($event)" (delete)="deleteEyeColors($event)"></app-attribute-details>
<app-attribute-details [attributeName]="'Hair Color'" [attributes]="hairColors" (add)="addHairColor($event)" (delete)="deleteHairColors($event)"></app-attribute-details>
<app-attribute-details [attributeName]="'Skin Color'" [attributes]="skinColors" (add)="addSkinColor($event)" (delete)="deleteSkinColors($event)"></app-attribute-details>
</div>
