<div class="row">
  <app-race-attribute-details [attributeName]="'Complexion'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="complexions"
                              [raceAttributes]="race.complexions"
                              (update)="updateComplexions($event)"
                              (add)="addComplexion($event)"
                              (invalid)="updateInvalid($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'Eye Color'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="eyeColors"
                              [raceAttributes]="race.eyeColors"
                              (update)="updateEyeColors($event)"
                              (add)="addEyeColor($event)"
                              (invalid)="updateInvalid($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'Hair Color'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="hairColors"
                              [raceAttributes]="race.hairColors"
                              (update)="updateHairColors($event)"
                              (add)="addHairColor($event)"
                              (invalid)="updateInvalid($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'Skin Color'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="skinColors"
                              [raceAttributes]="race.skinColors"
                              (update)="updateSkinColors($event)"
                              (add)="addSkinColor($event)"
                              (invalid)="updateInvalid($event)">
  </app-race-attribute-details>
</div>
