<input type="hidden" class="form-control" [(ngModel)]="race.id" name="id" #id="ngModel">
<div class="row">
  <app-race-attribute-details [attributeName]="'Complexion'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="complexions"
                              [raceAttributes]="race.complexions"
                              (update)="updateComplexions($event)"
                              (add)="addComplexion($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'EyeColor'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="eyeColors"
                              [raceAttributes]="race.eyeColors"
                              (update)="updateEyeColors($event)"
                              (add)="addEyeColor($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'HairColor'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="hairColors"
                              [raceAttributes]="race.hairColors"
                              (update)="updateHairColors($event)"
                              (add)="addHairColor($event)">
  </app-race-attribute-details>
</div>
<div class="row">
  <app-race-attribute-details [attributeName]="'SkinColor'"
                              [(race)]="race"
                              [gender]="gender"
                              [attributes]="skinColors"
                              [raceAttributes]="race.skinColors"
                              (update)="updateSkinColors($event)"
                              (add)="addSkinColor($event)">
  </app-race-attribute-details>
</div>
