<ngb-tabset class="sub-tabset" type="pill">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div class="sub-tab" [class.invalid]="isComponentInvalid('stats')">Stats</div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-race-stats [(race)]="race" [gender]="gender"></app-race-stats>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div class="sub-tab" [class.invalid]="isComponentInvalid('ages')">Ages</div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-race-ages [(race)]="race" [gender]="gender"></app-race-ages>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div class="sub-tab" [class.invalid]="areAttributesInvalid()">Attributes</div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-race-attributes [(race)]="race" [gender]="gender"></app-race-attributes>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div class="sub-tab" [class.invalid]="isComponentInvalid('measurements')">Measurements</div>
    </ng-template>
    <ng-template ngbTabContent>
      <app-race-measurements [(race)]="race" [gender]="gender"></app-race-measurements>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
