<div class="input-group">
  <input type="number"
         class="form-control number-control"
         [style.width.em]="width"
         [id]="id"
         oninput="this.value = this.value.replace(/\D/g, '')"
         (input)="updateInvalid(number.invalid, number.errors)"
         [name]="name"
         required
         [disabled]="disabled"
         [gt]="exclusiveMin ? min : getMinValue()"
         [gte]="!exclusiveMin ? min : getMinValue()"
         [lt]="exclusiveMax ? max : getMaxValue()"
         [lte]="!exclusiveMax ? max : getMaxValue()"
         [pattern]="pattern"
         [(ngModel)]="value"
         (ngModelChange)="valueChange.emit(value)"
         (focusout)="focusLost.emit(true)"
         #number="ngModel">
  <div [class.decorator]="decorator.length > 0">
    {{decorator.endsWith("s") && this.value == 1 ? decorator.substr(0, decorator.length - 1) : decorator}}
  </div>
  <div *ngIf="number.invalid && showError" class="alert alert-danger">
    <div *ngIf="number.errors.required">Required</div>
    <div *ngIf="number.errors.gt">Value must be greater than {{min}}</div>
    <div *ngIf="number.errors.gte">Value must be greater than or equal to {{min}}</div>
    <div *ngIf="number.errors.lt">Value must be less than {{max}}</div>
    <div *ngIf="number.errors.lte">Value must be less than or equal to {{max}}</div>
  </div>
</div>
