<div class="input-group">
  <input type="text"
         class="form-control number-control"
         [style.width.em]="width"
         [id]="id"
         oninput="this.value = this.value.replace(/\D/g, '')"
         (input)="updateInvalid(number.invalid)"
         [name]="name"
         required
         [disabled]="disabled"
         [gt]="min"
         [lt]="max"
         [pattern]="pattern"
         [(ngModel)]="value"
         (ngModelChange)="valueChange.emit(value)"
         #number="ngModel">
  <div class="decorator">
    {{decorator.endsWith("s") && this.value == 1 ? decorator.substr(0, decorator.length - 1) : decorator}}
  </div>
  <div *ngIf="number.invalid" class="alert alert-danger">
    <div *ngIf="number.errors.required">Required</div>
    <div *ngIf="number.errors.gt">Value must be greater than {{min}}</div>
    <div *ngIf="number.errors.lt">Value must be less than {{max}}</div>
  </div>
</div>
