.location-type-title {
  font-size: larger;
  font-weight: bold;
}

:host ::ng-deep .location-type-name {
  width: 200px;
  margin-right: 20px;
}
:host ::ng-deep .location-type-list {
  height: 250px;
  max-height: 250px;
  width: 200px;
  margin-right: 20px;
}
