<input type="hidden" class="form-control" [(ngModel)]="character.id" name="id" #id="ngModel">
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="name">Name
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="name"
               oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())"
               (input)="updateInvalid('name', name.invalid)"
               [(ngModel)]="character.name"
               (ngModelChange)="characterChange.emit(character)"
               name="name"
               required
               #name="ngModel">
        <div *ngIf="name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors.required">Required</div>
        </div>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="location">Birthplace
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="location"
               (input)="updateInvalid('location', location.invalid)"
               [(ngModel)]="character.locationId"
               (ngModelChange)="characterChange.emit(character)"
               name="location"
               required
               #location="ngModel">
        <button type="button" class="btn btn-secondary" ngbTooltip="Select a Birthplace" placement="top" (click)="showDialog = true">. . .</button>
        <div *ngIf="location.invalid" class="alert alert-danger">
          <div *ngIf="location.errors.required">Required</div>
        </div>
      </div>
    </label>
  </div>
</div>

<app-locations-dlg [header]="'Select Birthplace'" [(visible)]="showDialog" [(location)]="birthplace" (locationChange)="updateBirthplace(birthplace)"></app-locations-dlg>
