<input type="hidden" class="form-control" [(ngModel)]="character.id" name="id" #id="ngModel">
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="name">Name
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="name"
               oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())"
               (input)="updateInvalid('name', name.invalid)"
               [(ngModel)]="character.name"
               (ngModelChange)="characterChange.emit(character)"
               name="name"
               required
               #name="ngModel">
        <div *ngIf="name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors.required">Required</div>
        </div>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="gender">Gender
      <div class="input-group">
        <select id="gender" class="form-control" [(ngModel)]="character.genderId" name="gender" required #gender="ngModel">
          <option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</option>
        </select>
      </div>
    </label>
  </div>
</div>
