<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/characters' || currentUrl == '/'" ngbTooltip="Characters" placement="right">
        <i class="material-icons">people</i>
      </a>
    </li>
    <li>
      <a routerLink="admin/stats" [class.activated]="currentUrl == '/admin/stats'" ngbTooltip="Stats" placement="right">
        <i class="material-icons">list</i>
      </a>
    </li>
    <li>
      <a routerLink="admin/skills" [class.activated]="currentUrl == '/admin/skills'" ngbTooltip="Skills" placement="right">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</nav>
