<h1>Characters</h1>

<table class="table table-hover table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col" class="th-large-width">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let character of characters">
    <td [routerLink]="[character.id]">{{character.name}}</td>
    <td>
      <i class="material-icons" (click)="updateCharacter(character)" ngbTooltip="Update {{character.name}}">description</i>
      <i class="material-icons" (click)="deleteCharacter(character.id)" ngbTooltip="Delete {{character.name}}">delete</i></td>
  </tr>
  </tbody>
</table>
<div>
  <button type="button" class="btn btn-secondary" ngbTooltip="Create a New Character" placement="top" (click)="addCharacter()"><i class="material-icons">add_box</i>New Character</button>
</div>
