<div *ngIf="!modal" class="row">
  <div class="small-12 medium-6 columns">
    <h1>Location</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="name">Name
      <div class="input-group">
        <input type="text" class="form-control" id="name" oninput="this.value = this.value.toLowerCase().replace(/^\w/, c => c.toUpperCase())" [(ngModel)]="location.name" name="name" required #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Required</div>
        </div>
      </div>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="type">Type
        <select id="type" class="form-control" [(ngModel)]="location.typeId" name="type" required #type="ngModel">
          <option *ngFor="let type of locationTypes" [value]="type.id">{{type.name}}</option>
        </select>
    </label>
    <p-button icon="pi pi-plus" (onClick)="showDialog=true"></p-button>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="parentName">Parent
      <div class="input-group">
        <input type="text" class="form-control" id="parentName" [(ngModel)]="parent.name" name="parentName" required #parentName="ngModel">
        <div *ngIf="parentName.invalid && (parentName.dirty || parentName.touched)" class="alert alert-danger">
          <div *ngIf="parentName.errors.required">Required</div>
        </div>
      </div>
    </label>
    <p-button icon="pi pi-arrow-circle-left" (onClick)="selectParent=true"></p-button>
  </div>
</div>
<app-add-name-dialog
  [header]="'New Location Type'"
  [(visible)]="showDialog"
  [(name)]="locationTypeName"
  (nameChange)="addLocationType()"
  [label]="'Location Type'"
  [idNameValues]="locationTypes">
</app-add-name-dialog>
<app-select-location-dlg
  [header]="'Select Parent'"
  [(visible)]="selectParent"
  [(location)] = "parent"
  [ignoreLocation]="location"
  (locationChange)="updateParent($event)">
</app-select-location-dlg>
