/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.scss';
@import "~bootstrap/scss/bootstrap.scss";

body {
     margin: 0;
     background: #F2F2F2;
     font-family: 'Montserrat', sans-serif;
     height: 100vh;
     line-height: 1.25;
}


ngb-tabset.sub-tabset ul li a.active {
  background: black;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;

        ul {
            list-style-type: none;
            margin: 0;
//            padding: 0; this was causing trees to not indent properly

            li {
                background-color: transparent;
                border-radius: 8px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 8px;

                a {
                    border-radius: 8px;
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color:#00A8FF;
                }

                a.active {
                  background: darkslateblue;
                }

                ul {
                    margin-top: 0px;

                    li {
                        padding:0;

                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.ui-state-highlight {
  color: #000;
}
