<input type="hidden" class="form-control" [(ngModel)]="character.id" name="id" #id="ngModel">
<div class="row">
  <div class="small-12 medium-6 columns">
    <label class="control-label" for="gender">Gender
      <div class="input-group">
        <select id="gender" class="form-control" [(ngModel)]="character.genderId" (ngModelChange)="updateRaces()" name="gender" required #gender="ngModel">
          <option *ngFor="let gender of genders" [ngValue]="gender.id">{{gender.name}}</option>
        </select>
      </div>
    </label>
  </div>
</div>
<p-table [value]="character.races" #characterRaces>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Percent</th>
      <th class="filler-column"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-characterRace>
    <tr>
      <td>
        {{getRace(characterRace).name}}
      </td>
      <td class="cell-number" pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-number [id]="'percent'"
                        [name]="'percent'"
                        [(value)]="characterRace.percent"
                        (valueChange)="updateRemainingPercent()"
                        [min]="0"
                        [max]="getMaxPercent(characterRace)"
                        (focusLost)="cellFocusLost()"
                        (invalid)="updateInvalid($event)"
                        [decorator]="''"
                        [showError]="false">
            </app-number>
          </ng-template>
          <ng-template pTemplate="output">
            {{characterRace.percent}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <button type="button" (click)="deleteCharacterRace(characterRace.raceId)"><i class="material-icons" ngbTooltip="Delete {{getRace(characterRace).name}}">delete</i></button>
        <span *ngIf="invalid.length > 0" class="alert alert-danger">{{invalid}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
<div>
  <button type="button" class="btn btn-secondary" ngbTooltip="Add a new Race" placement="top" [disabled]="getRemainingPercent() <= 0" (click)="showDialog=true"><i class="material-icons">add_box</i>Add Race</button>
</div>
<p-dialog header="New Race" [(visible)]="showDialog">
  <div class="small-12 medium-6 columns">
    <div>
      <app-character-add-race [(character)]="character" [(selectedCharacterRace)]="selectedCharacterRace"></app-character-add-race>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" [disabled]="selectedCharacterRace.raceId == 0 || selectedCharacterRace.percent < 1 || selectedCharacterRace.percent > getRemainingPercent()" (click)="addCharacterRace(selectedCharacterRace);showDialog=false" label="Add"></button>
    <button type="button" pButton icon="pi pi-close" (click)="showDialog=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
